<div class="ftabs-wrap">
    <div class="wrap">
        <div class="ftabs">
            <button class="ftab active" data-f="all">Tüm Maçlar</button>
            <button class="ftab" data-f="live"><span class="live-dot"></span>Canlı<span class="bcnt">@ViewBag.LiveCount</span></button>
            <button class="ftab" data-f="finished">Tamamlananlar<span class="bcnt">@ViewBag.FinishedCount</span></button>
            <button class="ftab" data-f="upcoming">Yaklaşanlar<span class="bcnt">@ViewBag.UpcomingCount</span></button>
        </div>
    </div>
</div>
