<div class="ftabs-wrap">
    <div class="wrap">
        <div class="ftabs">
            <button class="ftab active" data-f="all">Tüm Maçlar</button>
            <button class="ftab" data-f="live"><span class="live-dot"></span>Canlı<span class="bcnt">3</span></button>
            <button class="ftab" data-f="finished">Tamamlananlar</button>
            <button class="ftab" data-f="upcoming">Yaklaşanlar</button>
        </div>
    </div>
</div>
