<footer class="ft">
    <div class="wrap">
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="ft-brand">Goal<span>Zone</span></div>
                <p class="ft-desc">Premier futbol liglerinin canlı skorları, maç analizleri ve istatistikleri için tek adres.</p>
                <div class="si-row">
                    <a href="#" class="si"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="si"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="si"><i class="bi bi-youtube"></i></a>
                    <a href="#" class="si"><i class="bi bi-telegram"></i></a>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Ligler</div>
                <ul class="ft-ul">
                    <li><a href="#">Premier League</a></li>
                    <li><a href="#">La Liga</a></li>
                    <li><a href="#">Bundesliga</a></li>
                    <li><a href="#">Serie A</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Hızlı Erişim</div>
                <ul class="ft-ul">
                    <li><a href="index.html">Haftalık Skorlar</a></li>
                    <li><a href="fixtures.html">Fikstür</a></li>
                    <li><a href="standings.html">Puan Durumu</a></li>
                    <li><a href="#">Gol Krallığı</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Takımlar</div>
                <ul class="ft-ul">
                    <li><a href="#">Arsenal</a></li>
                    <li><a href="#">Liverpool</a></li>
                    <li><a href="#">Man City</a></li>
                    <li><a href="#">Chelsea</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Destek</div>
                <ul class="ft-ul">
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">İletişim</a></li>
                    <li><a href="#">Gizlilik</a></li>
                    <li><a href="#">Kullanım Şartları</a></li>
                </ul>
            </div>
        </div>
        <div class="ft-bot">
            <span>© 2025 GoalZone. Tüm hakları saklıdır.</span>
            <span>Premier League verileri demo amaçlıdır.</span>
        </div>
    </div>
</footer>