<div class="grid-2">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Maç Sonuçları Dağılımı</div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="resultChart"></canvas>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Takım Gol Dağılımı</div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="teamGoalChart"></canvas>
            </div>
        </div>
    </div>
</div>
