@{
    Layout = null;
    // URL'den ID'yi güvenli bir şekilde alıp int'e çeviriyoruz
    int id = 0;
    if (ViewContext.RouteData.Values["id"] != null)
    {
        int.TryParse(ViewContext.RouteData.Values["id"].ToString(), out id);
    }
}

<!DOCTYPE html>
<html lang="tr">
    @await Component.InvokeAsync("MatchDetailHeadComponentPartial")
<body>

    @await Component.InvokeAsync("MatchIndexNavbarComponentPartial")
    <br />
    @await Component.InvokeAsync("MatchDetailHeroComponentPartial", new { id = id })

    @await Component.InvokeAsync("MatchDetailContentComponentPartial", new { id = id })

    @await Component.InvokeAsync("MatchIndexFooterComponentPartial")

    @await Component.InvokeAsync("MatchDetailScriptComponentPartial")

</body>
</html>